{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product">Produits</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user">Utilisateurs</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#commande">Commandes</a></li>
                </ul>

                <div class="tab-content">
                    <div id="product" class="tab-pane fade show active">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#product-create">Créer</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="product-edit" class="tab-pane fade show active">
                                <h3>Liste des produits</h3>
                            </div>
                            <div id="product-create" class="tab-pane fade">
                                <h3>Créer un produit</h3>
                            </div>
                        </div>
                    </div>
                    <div id="user" class="tab-pane fade">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user-create">Créer</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="user-edit" class="tab-pane fade show active">
                                <h3>Liste des utilisateurs</h3>
                            </div>
                            <div id="user-create" class="tab-pane fade">
                                <h3>Créer un utilisateur</h3>
                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.nom) }}
                                {{ form_row(registrationForm.telephone) }}
                                {{ form_row(registrationForm.roles) }}
                                <hr><button class="btn btn-primary" type="submit">Créer Le Compte</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                    <div id="commande" class="tab-pane fade">
                        <h3>Liste des commandes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}