{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    {{ include('loading.html.twig') }}
    <div class="container-fluid" style="display: none;">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product">Produits</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user">Utilisateurs</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#commande">Commandes</a></li>
                </ul>
                <div class="tab-content">
                    <div id="product" class="tab-pane fade show active">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#product-create">Créer</a></li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="tab-content">
                                    <div id="product-edit" class="tab-pane fade show active">
                                        {{ include('admin/produit/list.html.twig') }}

                                        <!-- Modal de edition de produit -->
                                        <div class="modal fade" id="produit-edit-modal" tabindex="-1" aria-labelledby="produit-edit-modal-label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form>
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="produit-edit-modal-label">Editer le produit</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label class="form-control-label required" for="produit_edit_nom">Nom</label>
                                                                <input type="text" id="produit_edit_nom" name="produit_edit[nom]" value="" disabled="disabled" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-control-label required" for="produit_edit_prix">Prix</label>
                                                                <input type="text" id="produit_edit_prix" name="produit_edit[prix]" value="" required="required" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <label class="form-control-label required" for="produit_form_image">Image</label>
                                                                        <div class="custom-file">
                                                                            <label for="produit_edit_image" class="custom-file-label" lang="fr"></label>
                                                                            <input type="file" id="produit_edit_image" name="produit_edit[image]" required="required" class="custom-file-input">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div style="position: absolute; bottom: 0px;">
                                                                            <img id="produit_edit_image_src" style="vertical-align: inherit;" src="test" width="32px">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button id="produit-edit-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                            <button value="" id="produit-edit-button" type="submit" class="btn btn-success">Modifier</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal de supression de produit -->
                                        <div class="modal fade" id="produit-delete-modal" tabindex="-1" aria-labelledby="produit-delete-modal-label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="produit-delete-modal-label">Supprimer le produit</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="produit-delete-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button value="" id="produit-delete-button" type="button" class="btn btn-danger">Confirmer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="product-create" class="tab-pane fade">
                                        {{ include('admin/produit/form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user" class="tab-pane fade show active">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user-create">Créer</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="tab-content">
                                    <div id="user-edit" class="tab-pane fade show active">
                                        {{ include('admin/user/list.html.twig') }}

                                        <!-- Modal d'edition d'utilisateur -->
                                        <div class="modal fade" id="user-edit-modal" tabindex="-1" aria-labelledby="user-edit-modal-label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="user-edit-modal-label">Editer l'utilisateur</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="user-edit-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button value="" id="user-edit-button" type="button" class="btn btn-danger">Confirmer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal de supression d'utilisateur -->
                                        <div class="modal fade" id="user-delete-modal" tabindex="-1" aria-labelledby="user-delete-modal-label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="user-delete-modal-label">Supprimer l'utilisateur</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="user-delete-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                        <button value="" id="user-delete-button" type="button" class="btn btn-danger">Confirmer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="user-create" class="tab-pane fade">
                                        {{ include('admin/user/form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="commande" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                {{ include('admin/commande/list.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        //Variables twig mise en js pour implémentation dans admin.js
        var addProduitUrl = "{{ path('addproduit') }}";
        var addUserUrl = "{{ path('adduser') }}";
        var deleteProduitUrl = "{{ path('deleteproduit') }}";
        var deleteUserUrl = "{{ path('deleteuser') }}";
        var findProduitsToList = "{{ path('findproduits') }}";
        var findUsersToList = "{{ path('findusers') }}";
        var findCommandesToList = "{{ path('findcommandes') }}";
    </script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}