{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block body %}
    {{ include('loading.html.twig') }}
    <div class="container-fluid" style="display: none;">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product">Produits</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user">Utilisateurs</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#commande">Commandes</a></li>
                </ul>
                <div class="tab-content">
                    <div id="product" class="tab-pane fade show active">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#product-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#product-create">Créer</a></li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="tab-content">
                                    <div id="product-edit" class="tab-pane fade show active">
                                        {{ include('admin/produit/list.html.twig') }}
                                    </div>
                                    <div id="product-create" class="tab-pane fade">
                                        {{ include('admin/produit/form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user" class="tab-pane fade">
                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user-edit">Editer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user-create">Créer</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="tab-content">
                                    <div id="user-edit" class="tab-pane fade show active">
                                        {{ include('admin/user/list.html.twig') }}
                                    </div>
                                    <div id="user-create" class="tab-pane fade">
                                        {{ include('admin/user/form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="commande" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                {{ include('admin/commande/list.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        //Variables twig mise en js pour implémentation dans admin.js
        var addProduitUrl = "{{ path('addproduit') }}"
        var addUserUrl = "{{ path('adduser') }}";
        var deleteUserUrl = "{{ path('deleteuser') }}";
        var findProduitsToList = "{{ path('findproduits') }}";
        var findUsersToList = "{{ path('findusers') }}";
        var findCommandesToList = "{{ path('findcommandes') }}";
    </script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}