<div class="card">
    <div class="card-header">
        <h3 class="mt-2">Liste des utilisateurs</h3>
    </div>
    <div class="card-body">
        <button id="refresh-user-list" class="btn btn-success mt-2 mb-3" type="button">Rafraichir la liste</button>
        <div class="table-responsive">
            <table id="user-list" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="text-truncate">
                {% for user in users %}
                    {% if user != app.user() %}
                        <tr id="user-{{ user.id() }}" {% if user.solde() < 0 %}class="table-danger"{% elseif user.solde() == 0 %}class="table-warning"{% else %}class="table-success"{% endif %}>
                            <td>{{ user.nom() }}</td>
                            <td><a href="mailto:{{ user.email() }}">{{ user.email() }}</a></td>
                            {% if user.telephone() is not none %}
                                <td>{{ user.telephone() }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if user.roles()[0] == "ROLE_ADMIN" %}
                                <td>Administrateur</td>
                            {% elseif user.roles()[0] == "ROLE_USER" %}
                                <td>Utilisateur</td>
                            {% endif %}
                            {% if user.confirmationToken is null %}
                                <td><div class="badge badge-success">Confirmé</div></td>
                            {% else %}
                                <td><div class="badge badge-warning">En attente</div></td>
                            {% endif %}
                            <td>
                                <ul class="list-inline-item m-0">
                                    {% if user.roles()[0] == "ROLE_ADMIN" %}
                                        <li class="list-inline-item">
                                            <button class="btn btn-success btn-sm rounded-0" type="button" name="edit" data-original-title="Edit">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </li>
                                    {% else %}
                                        <li class="list-inline-item">
                                            <button class="btn btn-success btn-sm rounded-0" type="button" name="edit" data-original-title="Edit">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-danger btn-sm rounded-0" type="button" name="delete" data-original-title="Delete">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>