{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-md">
    {% for produit in produits %}
        <div class="row d-flex justify-content-around rounded-lg" style="margin-bottom: 10px; background-color: white; padding: 10px;">
            <div class="col text-left">
                {% if produit.image != NULL %}
                <img style="background-color: whitesmoke; padding: 20px;" class="rounded-lg" src="{{ asset(produit.image) }}">
                {% else %}
                <img style="background-color: whitesmoke; padding: 20px;" class="rounded-lg" src="{{ asset('images/placeholder/coffee.png') }}">
                {% endif %}
                <div class="row description-product-list">
                    <p class="title-poduct-list">{{ produit.nom }}</p>
                    <div class="row">
                        <div class="col">
                            <p>prix : {{ produit.prix }} <img src="{{ asset('images/placeholder/chestnut.png') }}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-right" style="margin-top: 20px;">
                <button type="button" style="font-size: 25px; margin: 5px;" data-prix="{{ produit.prix }}" data-id="{{ produit.id }}" class="btn btn-dark btn-moins-produit" disabled> - </button>
                <p style="display: inline-block;" class="qty-selected quantity-{{ produit.id }}">0</p>
                <button type="button" style="font-size: 25px; margin: 5px;" data-prix="{{ produit.prix }}" data-id="{{ produit.id }}" class="btn btn-dark btn-plus-produit"> + </button>
            </div>
        </div>
    {% endfor %}
    </div>
    <div id="recapCommande" class="row justify-content-md-center">
        <div class="col-md-auto">
            <button id="validerCommande" type="button" class="btn btn-secondary">Valider votre commande : <span id="prixTotalCtg"></span> <img src="{{ asset('images/placeholder/chestnut.png') }}"></button>
        </div>
        <div class="col-md-auto ">
            <button id="annulerCommande" type="button" class="btn btn-secondary">annuler</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        //Variables twig mise en js pour implémentation dans client-poink.js
        var addCommande =  "{{  path('addcommande') }}";
    </script>
    <script src="{{ asset('js/client-pointk.js') }}"></script>
{% endblock %}
